#page-404 {
    padding-left: 0 !important;
    .col-md-12 {
        padding-top: 10%;
    }
    .sidebar-menu {
        display: none;
    }
    .oups-text {
        font-size: 75px;
    }
    .description-text {
        font-size: 30px;
    }
    .fa-meh-o {
        font-size: 250px
    }
}