@font-face {
  font-family: "dinot_regular";
  src: url("/fonts/common/dinot_regular.otf");
}

@font-face {
  font-family: "dinot_medium";
  src: url("/fonts/common/dinot_medium.otf");
}

@font-face {
  font-family: "dinot_light";
  src: url("/fonts/common/dinot_light.otf");
}

@font-face {
  font-family: "dinot_bold";
  src: url("/fonts/common/dinot_bold.otf");
}

@font-face {
  font-family: "dinot_black";
  src: url("/fonts/common/dinot_black.otf");
}